html {font-size: 100%;}
body {
    background-color: bisque;
    font-size: medium;
    color: rgb(15, 2, 55);
}
.menubar{
    background-color: cornflowerblue;
}
.navigations > li{
    background-color: blue;
    color: azure;
}