html {font-size: 100%;}
body {
    background-color: bisque;
    font-size: medium;
    color: rgb(15, 2, 55);
}
h3{
    text-align: center;
}
p.coffee p{
    margin-left: 10%;
    margin-right: 10%;
}
ul.menubar {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow:hidden;
    background-color:rgb(15, 15, 29);
}
ul.menubar li {
    float: left;
}
ul.menubar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(43, 65, 13);
    border-width: 1px;
}
ul.menubar li a:hover:not(.mainmenu){
    background-color: aqua;
    color:brown;
}
ul.menubar li a.right{
    background-color: blueviolet;
}
ul.menubar li.right{float: right;}
@media screen and (max-width: 600px){
    ul.menubar li.right,
    ul.menubar li {float: none;}
}
@media screen and (max-width: 600px) {
    #photo1 {float:none;
        width:70%;
        height: auto;
    }
}
#photo1 {
    float:right;
    width: 50%;
    height:auto;
}
#themebtn {
    background-color: rgb(21, 12, 1);
    color: aquamarine;
    float:right;
    height: 52px;
}
#themebtn:hover {
    background-color: blueviolet;
    cursor: pointer;
}